<%= render 'shared/global_navigation'%>
<%= title @category.name %>
<% set_meta_tags description: @category.description %>
<% set_meta_tags image_src: @category.image %>

<div>
          <span class='header-image'><%= cl_image_tag @category.image, :width=>770, :crop=>"thumb", class: "img-cat-header" %></span>
          <span><span class="caption">
            <span class="caption-wrapper">
              <span class='inline-element'>
                <div class='product-details'>
                  <span class="caption-info">              
              <h1 class="animated bounceInUp cat-head-right"><%= @category.name %></h1>
              <p class="animated bounceInLeft cat-subhead-right"><%= @category.description %></p></span></div>
              </span>
            </span>
          </span>
          <div id="foods"  class=" clearfix grid"> 
            <%= render partial: 'product_grid' %>
          </div>
        </span>
</div>

<script>
  var elements = $('figcaption h2');

  $.each(elements, function(index, value) {
    if (value.innerHTML.length > 15) {
      $('figcaption h2').eq(index).css({"font": "300 1.5em 'Comfortaa', cursive", "transform": "none", "-webkit-transform": "none", "-webkit-transition": "none"});
    }
  })
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "<%= @category.name %>",
  "manufacturer": "Печеньице",
  "image": "<%= @category.image %>",
  "description": "<%= @category.description %>"
}
</script>