<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <% set_meta_tags keywords: %w[печеньице печенье выпечка харьков заказ купить лучшая торты вкусное печенья
                                домашний домашнее hand-made ручной вкусно сладкое натуральное полезно рецепты десерт] %>
  <% set_meta_tags icon: '/favico.png' %>
  <% set_meta_tags publisher: "https://www.instagram.com/tania.neshcheret/" %>

  <%= display_meta_tags site: 'Печеньице' %>
  <title>Печеньице - заказ домашней выпечки в Харькове</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<!-- font awesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- bootstrap -->
	<!-- animate.css -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<!-- gallery -->
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <style>
  h2 {
    font: 300 3em 'Comfortaa', cursive;
  }

  h4 {
    font: 300 2em Roboto,Arial,Helvetica;
    margin-bottom: 1em;
  }

  .panel-title a{
    font-size: 1.5em;
  }

  body {
    font: 300 12px/12px Roboto,Arial,Helvetica;
  }

  p {
    font-size:1.5em;
  }
  </style>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- wow script -->

</body>
</html>
